@import "../../../../scss/_cores.variaveis.scss";

$margem: 0.5em;
$dimensao_marcacao: 1.3em;
$dimensao_marcacao_borda: $dimensao_marcacao / 8;

$margem-vertical: 0.3em;

$cor-desmacado: #bbb;
$cor-desmacado-hover: #808080;

sn-checkbox,
.sn-checkbox {

    &:not([class*='ap-tipografia--']) {
        font-size: 1rem;
    }

    display: inline-flex;
    position: relative;
    -ms-user-select: none;
    user-select: none;
    /*padding-left: $margem;
    padding-right: $margem;*/
    > conteudo-apresentacao {
        padding: $margem-vertical 0 $margem-vertical 0;

        .checkbox_caixa {
            cursor: pointer;
            line-height: $dimensao_marcacao;
            min-height: $dimensao_marcacao;
            min-width: $dimensao_marcacao;

            > input[type=checkbox] {
                opacity: 0;
            }



            &:hover {
                cursor: pointer;
                filter: brightness(105%);

                .checkbox_marcacao {
                    background-color: $cor-desmacado-hover;
                }
            }

            .checkbox_rotulo {
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: $dimensao_marcacao + $margem;

                &:empty {
                    display: none;
                }
            }

            .checkbox_marcacao {
                position: absolute;
                left: 0;
                /*top: 0;*/
                top: 50%;
                transform: translateY(-50%);
                transform: translateY(calc(-50% + 1px - 1px ));
                height: $dimensao_marcacao;
                width: $dimensao_marcacao;
                background-color: $cor-desmacado;
                border-radius:  0.31em;
                transition: background-color linear 0.1s;
                /*opacity:0.5;*/
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    left: $dimensao_marcacao / 3;
                    top: $dimensao_marcacao / 20;
                    top: 0;
                    width: $dimensao_marcacao / 3;
                    height: $dimensao_marcacao / 3 * 2;
                    border: solid white;
                    border-width: 0 $dimensao_marcacao_borda $dimensao_marcacao_borda 0;
                    transform: rotate(45deg) scale(0.85);
                    display: none;
                }
            }

            .checkbox_input {
                opacity: 1;
                position: absolute;
                left: 0;
                top: 0;

                &:checked + .checkbox_marcacao {
                    background-color: $cor-principal;
                }

                &:checked + .checkbox_marcacao:after {
                    display: block;
                }
            }

            .checkbox_mensagem_validacao {
                display: none;
            }
        }
    }

    &.sn-checkbox-selecionado {

        .checkbox_marcacao {
            background-color: $cor-principal !important;

            &:after {
                display: block;
            }
        }

        .checkbox_marcacao:after {
            display: block !important;
        }
    }

    &.sn-somente-leitura,
    &.sn-desabilitado {
        opacity: 0.7;

       /* &.sn-is-selecionado,
        &.sn-checkbox-selecionado {

            .checkbox_marcacao {
                background-color: #bbb !important;
            }
        }*/
    }
}
