@import "../../../../scss/_telas.mixins.scss";

@mixin BarraRolagem {
    overscroll-behavior: contain;
    /*-webkit-overflow-scrolling: touch;*/


    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;

        @include Responsivo(celular, tablet) {
            width: 1px;
            height: 1px;
        }
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 0.625rem;
    }

    padding-right: 0.5rem;
}

@mixin BarraRolagemVertical {
    @include BarraRolagem();
    overscroll-behavior-y: contain;

    &::-webkit-scrollbar {
        width: 0.5rem;

        @include Responsivo(celular, tablet) {
            width: 1px;
        }
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    padding-right: 0.5rem;
}



@mixin BarraRolagemHorizontal {

    overscroll-behavior-y: contain;


    &::-webkit-scrollbar {
        height: 8px;


        @include Responsivo(celular, tablet) {
            height: 1px;
        }
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    padding-right: 8px;
}
