@import "../../../../../scss/mixins.scss";
@import "../../../../../scss/variaveis.scss";

.sn-janela-ocupado {
    background-color: rgba(0,0,0,0.1);
    pointer-events: all;
    cursor:wait;

    > conteudo-apresentacao {
        background-color: white;

        .sn-janela-ocupado-painel 
        {
            text-align: center;
            background-color: white;

            .titulo-janela-ocupado {
                /*text-align: center;*/
                font-size: 1.65rem;
                font-weight: bold;
            }

            .subtitulo-janela-ocupado {
            }

            .sn-loader-pai {
                position: relative;

                .sn-loader-janela-ocupado {
                    width: 10em;
                    height: 10em;
                }

                .sn-progresso-loader {
                    @include centralizar-horizontal-vertical;
                    position: absolute;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
