@import "../../../../scss/variaveis.scss";
@import "../../../../scss/mixins.scss";

.sigi-controle-paginacao,
.sn-controle-paginacao,
sn-controle-paginacao {

    .sn-paginacao-lista {
        display: inline-block;
    }
 

    .sn-paginacao-item-lista {
        display: inline-block;

        sn-botao {
      
            &.sn-paginacao-item-item-atual {
                > conteudo-apresentacao {
                    background-color: black !important;
                    color: white;
                }
            }

            &.sn-paginacao-item {

                > conteudo-apresentacao {
                    background-color: lightgray !important;
                }
            }
        }
      
    }
}