@import "../../../../scss/mixins";

.sn-data-lista-div-ordenacao {
    display: inline-block;
    position: relative;
    padding-right: retornar-rem(20px);
}

.sn-lista-padrao {
    tr {
        height: retornar-rem(40px);

        td {
            padding: retornar-rem(5px) retornar-rem(18px);
            height: retornar-rem(40px);
        }
    }
}

.sn-data-lista-coluna-ordenacao--nenhuma {
    cursor: pointer;

    &::before {
        content: "";
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #000 transparent;
        visibility: visible;
        right: 5px;
        top: 50%;
        position: absolute;
        margin-top: -8px;
    }

    &::after {
        content: "";
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #000 transparent;
        visibility: visible;
        right: 5px;
        top: 50%;
        position: absolute;
        margin-top: 0px;
        border-bottom-width: 0px;
        border-top-width: 4px;
    }
}

.sn-data-lista-coluna-ordenacao--crescente {
    cursor: pointer;
    /*color: blue;*/

    &::before {
        content: "";
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #000 transparent;
        visibility: visible;
        right: 5px;
        top: 50%;
        position: absolute;
        margin-top: -4px;
        border-bottom-width: 0px;
        border-top-width: 4px;
    }
}

.sn-data-lista-coluna-ordenacao--decrescente {
    cursor: pointer;
  /*  color:red;*/

    &::before {
        content: "";
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #000 transparent;
        visibility: visible;
        right: retornar-rem(5px);
        top: 50%;
        position: absolute;
        /*opacity: 0.3;*/
        margin-top: -4px;
    }
}

.sn-data-lista-ordenacao-rodape {
    font-size: retornar-rem(12px);
    color: #444;
}
