// rem, é tamanho relativo font-size do documento  $tamanho-fonte-pixel-inicial;
// 1rem - igual 16px a fonte do documento poderá se responsiva

$dicionario-font-weight: ( thin: 100, light: 300, regular: 400, medium: 500, bold: 700, black: 900 ) !default;

$tamanho-fonte-pixel-inicial: 16px;

$fonte-padrao: "Roboto Condensed", sans-serif;
$titulos-fonte: $fonte-padrao;


$tamanho-fonte-padrao: 1rem !default;
$margem-padrao: 1rem !default;

$tamanho-fonte-pequeno: ($tamanho-fonte-padrao * 0.75) !default;
$tamanho-fonte-medio: ($tamanho-fonte-padrao * 1.25) !default;
$tamanho-fonte-grande: ($tamanho-fonte-padrao * 1.5) !default;
$tamanho-fonte-sub-titulo: $tamanho-fonte-padrao * 1.75 !default
$tamanho-fonte-titulo: $tamanho-fonte-padrao * 2 !default
    
$font-leve: 300 !default;
$font-normal: 400 !default;
$font-pesada: 500 !default;

$h1-tamanho-fonte: $tamanho-fonte-padrao * 2.5 !default;
$h2-tamanho-fonte: $tamanho-fonte-padrao * 2 !default;
$h3-tamanho-fonte: $tamanho-fonte-padrao * 1.75 !default;
$h4-tamanho-fonte: $tamanho-fonte-padrao * 1.5 !default;
$h5-tamanho-fonte: $tamanho-fonte-padrao * 1.25 !default;
$h6-tamanho-fonte: $tamanho-fonte-padrao !default;

$altura-linha-texto-padrao: $tamanho-fonte-padrao + 1rem;
$altura-linha-texto-pequeno: $tamanho-fonte-pequeno + 1rem;
$altura-linha-texto-medio: $tamanho-fonte-medio + 1rem;
$altura-linha-texto-grande: $tamanho-fonte-grande + 1rem;

$altura-linha-sub-tilulo: $tamanho-fonte-sub-titulo + 1rem;
$altura-linha-tilulo: $tamanho-fonte-titulo + 2rem;


$titulo-fonte: $fonte-padrao;
$titulo-fonte-peso: 500 !default;
$titulo-cor: inherit !default;



