
@function ajustar-sufixo($prefixo) {
    @return if(str-length($prefixo) == 0,$prefixo, -#{$prefixo} );
}

@function remover-unidade($valor) {
    $one: 1;

    @if (not unitless($valor)) {

        @if (unit($valor) == "px") {
            $one: 1px;
        }
        @elseif (unit($valor) == "em") {
            $one: 1em;
        }
        @elseif (unit($valor) == "%") {
            $one: 1%;
        }

        @return $valor / $one;
    }
    @else {
        @return $valor;
    }
}

@function retornar-rem($valor-pixels) {

    @if (unit($valor-pixels) == "px") {
        $valor-pixels: remover-unidade($valor-pixels);
    }
    $valor-rem: math-round($valor-pixels / 16, 2);
    @return $valor-rem+rem;
}

@function math-round ($valor, $numero-digitos: 0, $funcao: round) {
    $n: 1;
    
    @if type-of($valor) != number {
        @warn '#{ $valor } não é um numero.';
        @return $valor;
    }

    @if type-of($numero-digitos) != number {
        @warn '#{ $digits } não é um numero.';
        @return $numero-digitos;
    }
    @else if not unitless($numero-digitos) {
        @warn '#{ $numero-digitos } tem unidadest.';
        @return $valor;
    }


    @for $i from 1 through $numero-digitos {
        $n: $n * 10;
    }

    @if $funcao == round {
        @return round($valor * $n) / $n;
    }
    @else if $funcao == ceil {
        @return ceil($valor * $n) / $n;
    }
    @else if $funcao == floor {
        @return floor($valor * $n) / $n;
    }
    @else {
        @warn '#{ $mode } não é suportado.';
        @return $valor;
    }
}


@function math-ceil ($valor, $digitos: 0) {
    @return math-round($valor, $digitos, ceil);
}


@function math-floor ($valor, $digitos: 0) {
    @return math-round($valor, $digitos, floor);
}