
body {
    user-select: none !important;
    /*input {
        user-select: none !important;
    }*/
}

.ap-bloco-movimentando,
.sn-ordenacao-ativa {
    cursor: grabbing !important;
}

sn-painel-lista-ordenacao {
    user-select: none !important;


    &.sn-ordenacao-ativa {
        cursor: grabbing !important;
    }

    *[sn-is-alvo-ordenacao=true],
    .sn-ordenacao-alvo {
        cursor: grab !important;
        background-color: transparent;
        z-index: 10000 !important;
        pointer-events: all !important;
        /*border: 1px solid black;*/
    }

    ap-bloco-ordenacao {

        &.sn-ordenacao-ativa {
            /*outline: 1px solid blue !important;*/
            transition-duration: 0.15s;
            transition-property: all;
        }
    }
}
