
body {
    user-select: none !important;

    /*input {
        user-select: none !important;
    }*/
}

sn-painel-lista-ordenacao {
    user-select: none !important;

    &.ordenacao-ativa {
        /*border: 1px solid red !important;*/
    }

    *[sn-is-alvo-ordenacao=true],
    .sn-ordenacao-alvo {
        cursor: grab !important;
        background-color: transparent;
        z-index: 10000 !important;
        pointer-events: all !important;
        /*border: 1px solid black;*/
    }

    ap-bloco-ordenacao {

        &.ordenacao-ativa {
            /*outline: 1px solid blue !important;*/
            transition-duration: 0.15s;
            transition-property: all;
        }
    }
}
