
.sn-preto-branco
{
    filter: grayscale(100%);
}
.sn-preto-branco-50 {
    filter: grayscale(50%);
}

.sn-sepia {
    filter: sepia(100%)
}

.sn-sepia-50 {
    filter: sepia(50%);
}

.sn-blur {
    filter:  blur(100%)
}

.sn-blur-50 {
    filter: blur(100%)
}
