
.sn-loader {
    border: 0.2rem solid transparent; /* Light grey */
    border-top: 0.2rem solid red; /* Blue */
    border-radius: 50%;
    width: 4em;
    height: 4em;
    /*display:inline-block;*/
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}