@mixin box-shadow($valor) {
    box-shadow: $valor;
}

@mixin position-absolute($distancia-pai) {
    bottom: $distancia-pai;
    right: $distancia-pai;
    left: $distancia-pai;
    top: $distancia-pai;
    position: absolute;
}

@mixin sobreposicao ($cor-sobreposicao) {
    background-color: $cor-sobreposicao;
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

@mixin fundo-gradiente-top-bottom($cores-gradiente, $cor-solida-navegadores-antigos: #CCC) {
    background: $cor-solida-navegadores-antigos;
    background: linear-gradient($cores-gradiente);
}

@mixin fundo-gradiente-left-right($cores-gradiente, $cor-solida-navegadores-antigos: #CCC) {
    background: $cor-solida-navegadores-antigos;
    background: linear-gradient(to right, $cores-gradiente);
}

@mixin slider-cor($cor-slider, $cor-label: $cor-slider) {
    & {
        color: $cor-slider;

        .material-icons {
            color: $cor-slider;
        }

        .zs-slider {
            &::-webkit-slider-runnable-track {
                background-color: $cor-slider;
            }

            &::-webkit-slider-thumb {
                background-color: $cor-slider !important;
            }

            &::-moz-range-thumb {
                background-color: $cor-slider !important;
            }

            &::-moz-range-track {
                background-color: $cor-slider !important;
            }

            &::-ms-thumb {
                background-color: $cor-slider !important;
            }

            &::-ms-fill-lower {
                background: $cor-slider !important;
            }

            &::-ms-fill-upper {
                background: $cor-slider !important;
            }
        }

        .mdl-textfield__label {
            color: $cor-label !important;
        }
    }
}
