

.sn-base-pagina-lista-cadastro {

    .sn-titulo {
        padding: 26px;

        .sn-titulo--texto {
            font-size: 24px;
        }
    }

    .sn-destino-data-lista {
        padding: 26px;
    }

}