
@mixin Scale($valor) {
    transform: scale($valor);
}

@mixin Rotate($valor) {
    transform: rotate($valor);
}

@for $i from 1 through 9 {

    $valor: $i * 10;
    $escala: ($valor) / 100;


    .zs-aumentar-#{$valor} {
        @include Scale($escala + 1);
    }

    .zs-diminuir-#{$valor} {
        @include Scale($escala - 1);
    }
}

.zs-rotacionar-90 {
    @include Scale(90deg);
}

.zs-rotacionar-180 {
    @include Scale(180deg);
}
.zs-rotacionar-270 {
    @include Scale(-90deg);
}
