
@mixin Scale($valor) {
    transform: scale($valor);
}

@for $i from 1 through 9 {
    
    $valor: $i * 10;
    $escala: ($valor) / 100;

    $alpha-descricao: $i * 10;

    
    .zs-aumentar-{$valor} {
        @include Scale(1+ $escala);
    }

    .zs-diminuir-{$valor} {
        @include Aumentar($escala);
    }
}

zs-aumentar-10 {
    @include Aumentar(1.1);

    
}

zs-aumentar-10 {
    @include Aumentar(1.1);
}
