
snebur-console {
    background: rgba(255,255,255,0.5);
    color: white;
    position: fixed;
    display: block;
    margin-bottom: 4px;
    margin-top: 4px;


    &.sn-expandido {
        padding: 20px;
        background-color: white !important;
        user-select: text !important;
        pointer-events:all !important;

    }
}
