@import "../../../../scss/mixins.scss";
@import "../../../../scss/variaveis.scss";


@mixin Fonte($fonte) {
    font-family: $fonte !important;

    > conteudo-apresentacao[class*='ap-tipografia--'] {
        font-family: $fonte !important;

        textarea,
        input {
            font-family: $fonte !important;
        }
    }
}

.ap-fonte--roboto {
    @include Fonte($fonte-roboto);
}

.ap-peso--roboto-condensed {
    @include Fonte($fonte-roboto-condensed);
} 


.ap-fonte--lucida-console {
    @include Fonte($fonte-lucida-console);
}