@import "Cores/--cores-base.scss";
@import "Cores/--cor-principal.scss";

$cor-fundo-padrao: $cor-cinza-200;
$cor-texto-padrao: $cor-cinza-800;

$cor-sucesso: $cor-verde;
$cor-falha: $cor-vermelha;
$cor-alerta: $cor-laranja;
$cor-informacao: $cor-ciano;


$cor-editar: $cor-indigo;
$cor-salvar: $cor-sucesso;
$cor-novo: $cor-sucesso;
$cor-excluir: $cor-falha;
$cor-cancelar: $cor-falha;



$cores-mapeadas: (   branca :  $cor-branca,
                     preta :   $cor-preta,
                   vermelha:   $cor-vermelha, 
             vermelho-clara:   $cor-vermelha, 
            vermelho-escuro:   $cor-vermelha, 
                       rosa:   $cor-rosa, 
                       roxo:   $cor-roxo, 
                roxo-escuro:   $cor-roxo-escuro, 
                 roxo-claro:   $cor-roxo-claro, 
                   indigo:   $cor-indigo, 
               indigo-claro:   $cor-indigo-claro, 
              indigo-escuro:   $cor-indigo-escuro, 
                       azul:   $cor-azul, 
                 azul-claro:   $cor-azul-claro, 
                      ciano:   $cor-ciano, 
                   turquesa:   $cor-turquesa, 
                      verde:   $cor-verde, 
                verde-claro:   $cor-verde-claro, 
                 verde-lima:   $cor-verde-lima, 
                   amarelo :   $cor-amarelo, 
           amarelo-mostarda:   $cor-amarelo-mostarda, 
    amarelo-mostarda-escuro:   $cor-amarelo-mostarda-escuro, 
                    laranja:   $cor-laranja, 
             laranja-escuro:   $cor-laranja-escuro, 
                     marron:   $cor-marron, 
              cinza-azulado:   $cor-cinza-azulado );

$cores-sistema-mapeadas: (  principal:    $cor-principal, 
                           secundaria:    $cor-secundaria, 
                              sucesso:    $cor-sucesso, 
                                falha:    $cor-falha, 
                               alerta:    $cor-alerta, 
                           informacao:    $cor-informacao, 
                               editar:    $cor-editar,
                                 novo:    $cor-novo, 
                              excluir:    $cor-excluir, 
                             cancelar:    $cor-cancelar,
                               salvar:    $cor-salvar,);


