@import "../../scss/variaveis.scss";
@import "../../scss/mixins.scss";

sn-legenda,
.sn-legenda {
    position: absolute;
    display: block;
    background-color: rgba(5,5,5,0.6);
    width: auto;
    white-space: nowrap;
    color: white;
    border-radius: retornar-rem(10px);
    padding: retornar-rem(5px) retornar-rem(10px);
    text-align: center;
    font-size: retornar-rem(14px);
    z-index: 2000000000 !important;
    top: 50%;
    max-width: 60%;
    white-space: normal;
}