@import "../../scss/variaveis.scss";
@import "../../scss/mixins.scss";

@mixin mixing-cor-texto($cor) {
    color: $cor !important;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    /*-webkit-text-stroke-color: $cor;
    -webkit-text-stroke-width: 1px;*/
}

sn-legenda,
.sn-legenda {
    position: absolute;
    display: block;
    background-color: rgba(5,5,5,0.6);
    width: auto;
    white-space: nowrap;
    color: white;
    border-radius: retornar-rem(10px);
    padding: retornar-rem(5px) retornar-rem(10px);
    text-align: center;
    font-size: retornar-rem(14px);
    z-index: 2000000000 !important;
    top: 50%;
    max-width: 60%;
    white-space: normal;

    .sn-cor-texto--falha {
        @include mixing-cor-texto($cor-falha);
    }

    .sn-cor-texto--sucesso {

        @include mixing-cor-texto($cor-sucesso);
    }

    .sn-cor-texto--alerta {
        @include mixing-cor-texto($cor-alerta);
    }

    .sn-cor-texto--informacao,
    .sn-cor-texto--info {
        @include mixing-cor-texto($cor-informacao);
    }

    .sn-cor-texto--editar {
        @include mixing-cor-texto($cor-editar);
    }
}