

.ap-icone-categoria--filled {
    font-family: 'Material Icons' !important;

    &sn-icone,
    &ap-icone,
    sn-icone,
    ap-icone,
    .sn-icone,
    .material-icons {
        font-family: 'Material Icons' !important;
    }
}

.ap-icone-categoria--outlined {
    font-family: 'Material Icons Outlined' !important;

    &sn-icone,
    &ap-icone,
    sn-icone,
    ap-icone,
    .sn-icone,
    .material-icons {
        font-family: 'Material Icons Outlined' !important;
    }
}

.ap-icone-categoria--rounded {
    font-family: 'Material Icons Round' !important;

    &sn-icone,
    &ap-icone,
    sn-icone,
    ap-icone,
    .sn-icone,
    .material-icons {
        font-family: 'Material Icons Round' !important;
    }
}

.ap-icone-categoria--sharp {
    font-family: 'Material Icons Sharp' !important;

    &sn-icone,
    &ap-icone,
    sn-icone,
    ap-icone,
    .sn-icone,
    .material-icons {
        font-family: 'Material Icons Round' !important;
    }
}

.ap-icone-categoria--two-tone {
    font-family: 'Material Icons Two Tone' !important;

    &sn-icone,
    &ap-icone,
    sn-icone,
    ap-icone,
    .sn-icone,
    .material-icons {
        font-family: 'Material Icons Two Tone' !important;
    }
}
