
sn-combobox-nn-itens-selecionado {
    width: 100%;
    position: relative;

    .sn-painel-item-template {

        > conteudo-apresentacao {
            border: 1px solid #aaa;
            background-color: rgba(#ccc, 0.2);
            padding: 0px 4px 4px 0px;

            sn-botao[sn-nome=BtnRemover] {
                z-index:10000;
            }
        }
    }
}
