
ap-painel-horizontal,
.ap-painel-horizontal {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;

    > conteudo-apresentacao:first-child {
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
    }
}


ap-coluna,
ap-direita,
ap-esquerda,
.ap-coluna,
.ap-direita,
.ap-esquerda {
    position: relative;
    display: block;
    min-width: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
    min-height: 100%;
    height: 100%;
}


/*.ap-linha {
    overflow-y:auto;
}*/
